*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: arial sans-serif;
}

.container {
    display: flex;
    height: 100vh;
}
.left {
    flex: 1;
    background-image: url("images/forest1.jpg");
    background-size: cover;
    background-position: center;
    position: relative;
}

.logo-box {
    position: absolute;
    top: 20%;
    width: 100%;
    background: rgba(0,0,0,0.5);
    color : white;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
    padding: 15px 0;
}

.logo-box img {
    height: 80px;
}

@font-face {
    font-family: "Norse";
    src: url("images/Norsebold.otf");
}
.logo-box h1 {
    font-family: "Norse";
    font-size: 4rem;
}

.right {
    flex: 1;
    background: #f9fafb;
    padding: 50px;
    
}

.text {
    margin-bottom: 40px;
}

form {
    background: white;
    padding: 30px;
    box-shadow: 0 5px 10px rgba(0,0,0,0.1);

}

.form-grid{
    display: grid;
    grid-template-columns: 1fr 1fr ;
    gap: 20px;
}

.form-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
    /* margin-top: 20px; */
}
label {
    font-size: 0.7rem;
    letter-spacing: 1px;

}

input {
    padding: 8px;
    border: 1px solid #E5E7EB;
    border-radius: 4px;
}

input:focus{
    outline: none;
    border: 1px solid blue;
    box-shadow: 0 0 5px rgba(0,0,255,0.3);

}

input:invalid {
    border: 1px solid red;
}

button {
    background: #596d48;
    color: white;
    border: none;
    padding: 12px 30px;
    border-radius: 6px;
    font-size: 1rem;
    cursor: pointer;
    margin-top: 25px;

}

button:hover {
    opacity: 0.9;
}